openapi: 3.1.0

info:
  title: Music Atlas Classroom v2 — REST contract
  version: 0.1.0-draft
  description: |
    Additions to the existing Music Atlas REST backend for Classroom v2:
    roster / enrollment lifecycle, publish pipeline, assignments, live
    sessions, and the Module Session Protocol (MSP) callback.

    Scope of this document — the *client-facing* contract that the in-repo
    hooks target. The existing endpoints (`POST/GET/PATCH /classrooms`,
    `POST /classrooms/join`, `GET /students`) remain unchanged; this file
    describes only the additions.

    Locked-in decisions (see plan file):
    - No Supabase; extends the existing REST + adds a WebSocket layer.
    - Accounts-only. Guest tier deferred to v2.1. Every `enrollment` and
      `participant` row resolves to a real Atlas account via `accountId`.
    - Build phases P0..P6 land these endpoints in dependency order; a client
      hook may target an endpoint before it exists.

servers:
  - url: https://api.musicatlas.io
    description: Production
  - url: https://api-refactor.vercel.app
    description: Refactor staging

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Standard Music Atlas JWT (existing pipeline).

    mspToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Short-lived signed JWT issued by `POST /msp/token` and carried by
        the Atlas module (Learn / Studio / Globe / Arcade) when it calls
        back with `POST /msp/response`.

  schemas:
    PhaseKey:
      type: string
      enum:
        - connectRegulate
        - groupPractice
        - creativeProjects
        - presentPerform
        - respondReflectReset

    Module:
      type: string
      enum: [learn, studio, globe, arcade]

    LocalizedText:
      type: object
      required: [en]
      properties:
        en: { type: string }
        es: { type: string }

    Enrollment:
      type: object
      required: [id, classroomId, accountId, status, joinedAt]
      properties:
        id: { type: string }
        classroomId: { type: string }
        accountId: { type: string }
        displayName:
          {
            type: string,
            description: "Falls back to nickname → username → 'Student'",
          }
        status:
          type: string
          enum: [pending, active, removed]
        joinedAt: { type: string, format: date-time }
        approvedAt: { type: string, format: date-time, nullable: true }
        removedAt: { type: string, format: date-time, nullable: true }

    Interaction:
      type: object
      required: [id, type, question, shareable]
      properties:
        id: { type: string }
        type:
          type: string
          enum: [choice, text, number, draw, check-in, atlas]
        question: { $ref: '#/components/schemas/LocalizedText' }
        shareable:
          type: boolean
          description: |
            Whether this interaction may be projected in the anonymized
            share overlay. `check-in` is always hard-`false` per Rule 2.
        choice:
          type: object
          properties:
            options:
              type: array
              items: { $ref: '#/components/schemas/LocalizedText' }
            multi: { type: boolean }
        number:
          type: object
          properties:
            min: { type: number, nullable: true }
            max: { type: number, nullable: true }
        text:
          type: object
          properties:
            maxLen: { type: integer, default: 500 }
        draw:
          type: object
          properties:
            background:
              type: string
              enum: [blank, staff, keyboard, grid]
        checkIn:
          type: object
          properties:
            style:
              type: string
              enum: [emoji, scale, word]
        atlas:
          type: object
          properties:
            module: { $ref: '#/components/schemas/Module' }
            activityRef: { type: string }
            expects:
              type: string
              enum: [completion, score, artifact]

    LaunchTile:
      type: object
      required: [id, module, activityRef]
      properties:
        id: { type: string }
        module: { $ref: '#/components/schemas/Module' }
        activityRef: { type: string }
        label: { $ref: '#/components/schemas/LocalizedText' }

    CellSnapshot:
      description: |
        Student-safe cell contents emitted by `buildStudentView`. Rationale
        fields (assessment / standards / cloRefs / impactTags / scaffold*
        / notes / initiationStyle / createdBy / localContext) are
        structurally absent — Rule 1 firewall test asserts this.
      type: object
      required: [presentation]
      properties:
        presentation:
          type: object
          required: [title, prompt, launchTiles]
          properties:
            title: { $ref: '#/components/schemas/LocalizedText' }
            prompt: { $ref: '#/components/schemas/LocalizedText' }
            launchTiles:
              type: array
              items: { $ref: '#/components/schemas/LaunchTile' }
            interactions:
              type: array
              items: { $ref: '#/components/schemas/Interaction' }
            resetChecklist:
              type: array
              items: { $ref: '#/components/schemas/LocalizedText' }

    DaySnapshot:
      type: object
      required: [dayId, label, cells]
      properties:
        dayId: { type: string }
        label: { type: string }
        cells:
          type: object
          description: Keyed by PhaseKey; all five keys required.
          additionalProperties: { $ref: '#/components/schemas/CellSnapshot' }

    PublishedDay:
      type: object
      required: [id, classroomId, snapshot, publishedAt]
      properties:
        id: { type: string }
        classroomId: { type: string }
        teacherId: { type: string }
        sourceRef:
          type: string
          nullable: true
          description: Client-side hint (e.g. local `dayId`) to help the teacher trace which local Day this snapshot came from. Server treats as opaque.
        snapshot: { $ref: '#/components/schemas/DaySnapshot' }
        publishedAt: { type: string, format: date-time }

    Assignment:
      type: object
      required: [id, classroomId, title, kind, status, createdAt]
      properties:
        id: { type: string }
        classroomId: { type: string }
        title: { type: string }
        instructions: { type: string, nullable: true }
        kind:
          type: string
          enum: [day, atlas, instructions]
        publishedDayId:
          type: string
          nullable: true
          description: Required when kind='day'.
        atlasRef:
          description: Required when kind='atlas'.
          nullable: true
          type: object
          properties:
            module: { $ref: '#/components/schemas/Module' }
            activityRef: { type: string }
            expects:
              type: string
              enum: [completion, score, artifact]
        dueAt: { type: string, format: date-time, nullable: true }
        status:
          type: string
          enum: [open, closed]
        createdAt: { type: string, format: date-time }

    AssignmentProgress:
      type: object
      required: [assignmentId, enrollmentId, status, updatedAt]
      properties:
        assignmentId: { type: string }
        enrollmentId: { type: string }
        status:
          type: string
          enum: [not_started, in_progress, done]
        artifactRef:
          type: object
          nullable: true
          properties:
            module: { $ref: '#/components/schemas/Module' }
            deepLink: { type: string }
            preview: { type: string, nullable: true }
        updatedAt: { type: string, format: date-time }

    SessionState:
      type: object
      required: [phase, interactionIndex, mode, locked]
      properties:
        phase: { $ref: '#/components/schemas/PhaseKey' }
        interactionIndex:
          {
            type: integer,
            minimum: -1,
            description: '-1 = phase-level (no interaction focused)',
          }
        mode:
          type: string
          enum: [teacher_paced, student_paced]
        locked: { type: boolean }
        share:
          type: object
          nullable: true
          properties:
            interactionId: { type: string }
            on: { type: boolean }

    Session:
      type: object
      required:
        [
          id,
          classroomId,
          teacherId,
          publishedDayId,
          code,
          status,
          state,
          startedAt,
        ]
      properties:
        id: { type: string }
        classroomId: { type: string }
        teacherId: { type: string }
        publishedDayId: { type: string }
        code:
          {
            type: string,
            description: '6-character session join code (unambiguous alphabet)',
          }
        status:
          type: string
          enum: [live, ended]
        state: { $ref: '#/components/schemas/SessionState' }
        startedAt: { type: string, format: date-time }
        endedAt: { type: string, format: date-time, nullable: true }

    ResponsePayload:
      description: |
        Discriminated by `kind`. The union mirrors the client
        `InteractionResponse` shape.
      oneOf:
        - type: object
          required: [kind, choices]
          properties:
            kind: { const: choice }
            choices: { type: array, items: { type: integer } }
        - type: object
          required: [kind, text]
          properties:
            kind: { const: text }
            text: { type: string, maxLength: 4000 }
        - type: object
          required: [kind, value]
          properties:
            kind: { const: number }
            value: { type: number }
        - type: object
          required: [kind, strokes]
          properties:
            kind: { const: draw }
            strokes:
              type: array
              description: Stroke JSON; server caps total payload at ~200 KB.
              items: { type: object, additionalProperties: true }
        - type: object
          required: [kind, value]
          properties:
            kind: { const: check-in }
            value:
              type: string
              description: |
                Emoji / word / scale value. Teacher-only. Rule 2 firewall
                strips these from every projector-view payload.
        - type: object
          required: [kind, module, activityRef, result]
          properties:
            kind: { const: atlas }
            module: { $ref: '#/components/schemas/Module' }
            activityRef: { type: string }
            result:
              type: object
              description: Shape depends on Interaction.atlas.expects
              additionalProperties: true

    Response:
      type: object
      required: [id, interactionId, enrollmentId, payload, createdAt]
      properties:
        id: { type: string }
        interactionId: { type: string }
        enrollmentId: { type: string }
        sessionId: { type: string, nullable: true }
        assignmentId: { type: string, nullable: true }
        payload: { $ref: '#/components/schemas/ResponsePayload' }
        createdAt: { type: string, format: date-time }

paths:
  /classrooms/{classroomId}/publish:
    post:
      summary: Publish a Day snapshot (P2)
      description: |
        Server accepts the client-side output of `buildStudentView(day)` and
        stores it as an immutable `PublishedDay`. Server MAY additionally
        run `runFirewallTest(snapshot)` and refuse the write if forbidden
        substrings are present — belt-and-suspenders against Rule 1 leaks.
      security:
        - bearerAuth: []
      parameters:
        - name: classroomId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [snapshot]
              properties:
                sourceRef: { type: string, nullable: true }
                snapshot: { $ref: '#/components/schemas/DaySnapshot' }
      responses:
        '201':
          description: PublishedDay created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublishedDay' }
        '400':
          description: Snapshot rejected — publish-time firewall detected forbidden substring.
        '403':
          description: Not classroom owner.

  /classrooms/{classroomId}/enrollments:
    get:
      summary: Roster with status filter (P1)
      security:
        - bearerAuth: []
      parameters:
        - name: classroomId
          in: path
          required: true
          schema: { type: string }
        - name: status
          in: query
          schema:
            type: string
            enum: [all, pending, active, removed]
            default: active
      responses:
        '200':
          description: List of enrollments
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Enrollment' }

  /classrooms/{classroomId}/enrollments/{enrollmentId}:
    patch:
      summary: Approve / remove / reactivate an enrollment (P1)
      security:
        - bearerAuth: []
      parameters:
        - name: classroomId
          in: path
          required: true
          schema: { type: string }
        - name: enrollmentId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [active, removed]
                displayName: { type: string }
      responses:
        '200':
          description: Updated Enrollment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Enrollment' }

  /classrooms/{classroomId}/assignments:
    get:
      summary: List assignments (P2). Students see only classrooms where they hold an active enrollment.
      security:
        - bearerAuth: []
      parameters:
        - name: classroomId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Assignments
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Assignment' }

    post:
      summary: Create an assignment (P2, teacher)
      security:
        - bearerAuth: []
      parameters:
        - name: classroomId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, kind]
              properties:
                title: { type: string }
                instructions: { type: string, nullable: true }
                kind:
                  type: string
                  enum: [day, atlas, instructions]
                publishedDayId: { type: string, nullable: true }
                atlasRef:
                  nullable: true
                  type: object
                  properties:
                    module: { $ref: '#/components/schemas/Module' }
                    activityRef: { type: string }
                    expects:
                      type: string
                      enum: [completion, score, artifact]
                dueAt: { type: string, format: date-time, nullable: true }
      responses:
        '201':
          description: Assignment created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Assignment' }

  /classrooms/{classroomId}/assignments/{assignmentId}:
    patch:
      summary: Update or close an assignment (P2)
      security:
        - bearerAuth: []
      parameters:
        - name: classroomId
          in: path
          required: true
          schema: { type: string }
        - name: assignmentId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                instructions: { type: string, nullable: true }
                dueAt: { type: string, format: date-time, nullable: true }
                status:
                  type: string
                  enum: [open, closed]
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Assignment' }

  /classrooms/{classroomId}/assignments/{assignmentId}/progress:
    get:
      summary: Progress grid (teacher) or self-progress (student) (P2)
      security:
        - bearerAuth: []
      parameters:
        - name: classroomId
          in: path
          required: true
          schema: { type: string }
        - name: assignmentId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: |
            Teachers see all enrollments' progress. Students see only their
            own row (server enforces).
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AssignmentProgress' }

    post:
      summary: Student updates own progress (P2)
      security:
        - bearerAuth: []
      parameters:
        - name: classroomId
          in: path
          required: true
          schema: { type: string }
        - name: assignmentId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [not_started, in_progress, done]
                artifactRef:
                  type: object
                  nullable: true
                  properties:
                    module: { $ref: '#/components/schemas/Module' }
                    deepLink: { type: string }
                    preview: { type: string, nullable: true }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssignmentProgress' }

  /classrooms/{classroomId}/sessions:
    post:
      summary: Create a live session (P3, teacher)
      description: |
        If `publishedDayId` is omitted, server may reject; the client should
        publish the current Day first.
      security:
        - bearerAuth: []
      parameters:
        - name: classroomId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [publishedDayId]
              properties:
                publishedDayId: { type: string }
                mode:
                  type: string
                  enum: [teacher_paced, student_paced]
                  default: teacher_paced
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Session' }

  /classrooms/{classroomId}/sessions/{sessionId}:
    get:
      summary: State snapshot for late-join / reconnect (P3)
      security:
        - bearerAuth: []
      parameters:
        - name: classroomId
          in: path
          required: true
          schema: { type: string }
        - name: sessionId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Session
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Session' }

    patch:
      summary: Update session state (P3 teacher — nav / lock / share / mode / end)
      security:
        - bearerAuth: []
      parameters:
        - name: classroomId
          in: path
          required: true
          schema: { type: string }
        - name: sessionId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state: { $ref: '#/components/schemas/SessionState' }
                status:
                  type: string
                  enum: [live, ended]
      responses:
        '200':
          description: Updated Session
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Session' }

  /classrooms/{classroomId}/sessions/{sessionId}/responses:
    post:
      summary: Insert a response (P3/P4). Also used by the assignment path with `assignmentId` on the client's request context.
      security:
        - bearerAuth: []
      parameters:
        - name: classroomId
          in: path
          required: true
          schema: { type: string }
        - name: sessionId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [interactionId, payload]
              properties:
                interactionId: { type: string }
                assignmentId: { type: string, nullable: true }
                payload: { $ref: '#/components/schemas/ResponsePayload' }
      responses:
        '201':
          description: Response persisted (server broadcasts a notification on the session WebSocket).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Response' }

  /msp/token:
    post:
      summary: Mint a short-lived MSP JWT for launching a module (P5, teacher)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [student, ctx, expects]
              properties:
                student: { type: string, description: Student accountId }
                ctx:
                  type: object
                  properties:
                    sessionId: { type: string, nullable: true }
                    assignmentId: { type: string, nullable: true }
                    interactionId: { type: string, nullable: true }
                expects:
                  type: string
                  enum: [completion, score, artifact]
                return:
                  type: string
                  description: URL the module should return to on close.
      responses:
        '200':
          description: JWT
          content:
            application/json:
              schema:
                type: object
                required: [msp]
                properties:
                  msp:
                    {
                      type: string,
                      description: 'Signed JWT to append as `?msp=<token>`',
                    }

  /msp/response:
    post:
      summary: Module Session Protocol callback endpoint (P5)
      description: |
        Callback used when the module launched in a new tab (not iframe).
        Iframe launches use `postMessage` to the parent Classroom instead
        of this endpoint.
      security:
        - mspToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [interactionId, payload]
              properties:
                interactionId: { type: string }
                payload: { $ref: '#/components/schemas/ResponsePayload' }
      responses:
        '202':
          description: Accepted; the classroom-side dashboard receives the update via the session WebSocket.
